<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decay/cracks-1</key>
            <dict>
                <key>frame</key>
                <string>{{45,372},{36,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/cracks-2</key>
            <dict>
                <key>frame</key>
                <string>{{213,396},{36,36}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/cracks-3</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{40,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/cracks-4</key>
            <dict>
                <key>frame</key>
                <string>{{4,320},{34,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{34,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/cracks-5</key>
            <dict>
                <key>frame</key>
                <string>{{125,317},{40,34}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{40,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/dirt-1</key>
            <dict>
                <key>frame</key>
                <string>{{360,255},{46,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/dirt-2</key>
            <dict>
                <key>frame</key>
                <string>{{149,172},{42,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/dirt-3</key>
            <dict>
                <key>frame</key>
                <string>{{150,123},{42,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/dirt-4</key>
            <dict>
                <key>frame</key>
                <string>{{241,353},{40,38}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/gouges-1</key>
            <dict>
                <key>frame</key>
                <string>{{304,298},{40,46}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/gouges-2</key>
            <dict>
                <key>frame</key>
                <string>{{150,74},{44,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/gouges-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,59},{86,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{86,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/gouges-wide-2</key>
            <dict>
                <key>frame</key>
                <string>{{109,23},{86,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{86,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/gouges-wide-3</key>
            <dict>
                <key>frame</key>
                <string>{{317,4},{86,38}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{86,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/gouges-wide-4</key>
            <dict>
                <key>frame</key>
                <string>{{317,47},{84,40}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{84,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/mold-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,218},{50,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/mold-2</key>
            <dict>
                <key>frame</key>
                <string>{{252,212},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/mold-3</key>
            <dict>
                <key>frame</key>
                <string>{{411,307},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{46,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/mold-4</key>
            <dict>
                <key>frame</key>
                <string>{{307,202},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/mold-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{214,4},{98,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/mold-wide-2</key>
            <dict>
                <key>frame</key>
                <string>{{408,4},{84,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{84,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>decay/scratches-1</key>
            <dict>
                <key>frame</key>
                <string>{{43,320},{32,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{32,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-2</key>
            <dict>
                <key>frame</key>
                <string>{{286,394},{36,40}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-3</key>
            <dict>
                <key>frame</key>
                <string>{{474,174},{34,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-4</key>
            <dict>
                <key>frame</key>
                <string>{{466,221},{42,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-5</key>
            <dict>
                <key>frame</key>
                <string>{{170,355},{38,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-6</key>
            <dict>
                <key>frame</key>
                <string>{{339,386},{36,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-7</key>
            <dict>
                <key>frame</key>
                <string>{{59,108},{30,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{30,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>decay/scratches-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{406,53},{80,34}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{80,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>earth-all</key>
            <dict>
                <key>frame</key>
                <string>{{197,161},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-dark-all</key>
            <dict>
                <key>frame</key>
                <string>{{419,147},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-dark-top</key>
            <dict>
                <key>frame</key>
                <string>{{196,244},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-dark-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{309,147},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-dark-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{364,147},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-earth-all</key>
            <dict>
                <key>frame</key>
                <string>{{420,92},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-earth-top</key>
            <dict>
                <key>frame</key>
                <string>{{196,216},{50,12}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-earth-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{4,163},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-earth-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{365,92},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-light-all</key>
            <dict>
                <key>frame</key>
                <string>{{94,129},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-light-top</key>
            <dict>
                <key>frame</key>
                <string>{{196,233},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-light-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{199,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>earth-light-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{254,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-a-1</key>
            <dict>
                <key>frame</key>
                <string>{{59,221},{26,26}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{26,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-a-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,439},{34,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{34,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-a-3</key>
            <dict>
                <key>frame</key>
                <string>{{294,349},{40,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-a-4</key>
            <dict>
                <key>frame</key>
                <string>{{310,92},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-a-5</key>
            <dict>
                <key>frame</key>
                <string>{{4,108},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-b-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,395},{36,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-b-2</key>
            <dict>
                <key>frame</key>
                <string>{{466,264},{42,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-b-3</key>
            <dict>
                <key>frame</key>
                <string>{{149,221},{42,40}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-b-4</key>
            <dict>
                <key>frame</key>
                <string>{{95,74},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-b-5</key>
            <dict>
                <key>frame</key>
                <string>{{255,51},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-1</key>
            <dict>
                <key>frame</key>
                <string>{{143,266},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-2</key>
            <dict>
                <key>frame</key>
                <string>{{196,255},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-3</key>
            <dict>
                <key>frame</key>
                <string>{{196,308},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-4</key>
            <dict>
                <key>frame</key>
                <string>{{466,305},{40,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-left</key>
            <dict>
                <key>frame</key>
                <string>{{251,253},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-bottom-left-open</key>
            <dict>
                <key>frame</key>
                <string>{{252,161},{50,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-c-1</key>
            <dict>
                <key>frame</key>
                <string>{{57,277},{18,14}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{18,14}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-c-2</key>
            <dict>
                <key>frame</key>
                <string>{{59,153},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{30,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-c-3</key>
            <dict>
                <key>frame</key>
                <string>{{339,353},{38,28}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{38,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-d-1</key>
            <dict>
                <key>frame</key>
                <string>{{121,356},{36,34}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-d-2</key>
            <dict>
                <key>frame</key>
                <string>{{475,135},{32,34}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-d-3</key>
            <dict>
                <key>frame</key>
                <string>{{394,350},{38,38}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-e-1</key>
            <dict>
                <key>frame</key>
                <string>{{59,186},{26,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{26,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-e-2</key>
            <dict>
                <key>frame</key>
                <string>{{475,92},{32,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{32,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-e-3</key>
            <dict>
                <key>frame</key>
                <string>{{349,308},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-f-1</key>
            <dict>
                <key>frame</key>
                <string>{{59,252},{22,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{22,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-f-2</key>
            <dict>
                <key>frame</key>
                <string>{{80,333},{36,34}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-f-3</key>
            <dict>
                <key>frame</key>
                <string>{{249,306},{40,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-left-top</key>
            <dict>
                <key>frame</key>
                <string>{{362,202},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-left-top-open</key>
            <dict>
                <key>frame</key>
                <string>{{307,245},{48,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-left-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>mask_borders/decay-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{90,237},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-right-bottom-left</key>
            <dict>
                <key>frame</key>
                <string>{{109,4},{100,14}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,14}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>mask_borders/decay-right-bottom-open</key>
            <dict>
                <key>frame</key>
                <string>{{200,51},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-top-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{415,202},{46,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>mask_borders/decay-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{4,267},{48,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mask_borders/decay-top-right-open</key>
            <dict>
                <key>frame</key>
                <string>{{94,184},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accents+ld.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c280ceb16f7a87304643864b30bed50$</string>
            <key>textureFileName</key>
            <string>accents+ld.png</string>
        </dict>
    </dict>
</plist>
