<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decay/cracks-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,652},{48,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{48,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/cracks-2</key>
            <dict>
                <key>frame</key>
                <string>{{191,571},{48,48}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/cracks-3</key>
            <dict>
                <key>frame</key>
                <string>{{418,471},{54,50}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/cracks-4</key>
            <dict>
                <key>frame</key>
                <string>{{464,727},{44,42}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{44,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/cracks-5</key>
            <dict>
                <key>frame</key>
                <string>{{451,583},{52,45}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{52,45}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>decay/dirt-1</key>
            <dict>
                <key>frame</key>
                <string>{{280,427},{60,64}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/dirt-2</key>
            <dict>
                <key>frame</key>
                <string>{{132,512},{54,58}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/dirt-3</key>
            <dict>
                <key>frame</key>
                <string>{{142,449},{56,58}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/dirt-4</key>
            <dict>
                <key>frame</key>
                <string>{{418,416},{54,50}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/gouges-1</key>
            <dict>
                <key>frame</key>
                <string>{{203,504},{54,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/gouges-2</key>
            <dict>
                <key>frame</key>
                <string>{{213,441},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/gouges-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{377,75},{112,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{112,58}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/gouges-wide-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,75},{112,62}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/gouges-wide-3</key>
            <dict>
                <key>frame</key>
                <string>{{141,27},{114,50}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{114,50}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/gouges-wide-4</key>
            <dict>
                <key>frame</key>
                <string>{{121,82},{110,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{110,52}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/mold-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,355},{66,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/mold-2</key>
            <dict>
                <key>frame</key>
                <string>{{373,209},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/mold-3</key>
            <dict>
                <key>frame</key>
                <string>{{213,386},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/mold-4</key>
            <dict>
                <key>frame</key>
                <string>{{4,418},{66,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/mold-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{278,4},{128,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,54}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/mold-wide-2</key>
            <dict>
                <key>frame</key>
                <string>{{260,63},{112,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{112,58}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>decay/scratches-1</key>
            <dict>
                <key>frame</key>
                <string>{{183,262},{42,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{42,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/scratches-2</key>
            <dict>
                <key>frame</key>
                <string>{{262,563},{48,52}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{48,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/scratches-3</key>
            <dict>
                <key>frame</key>
                <string>{{366,640},{44,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,55}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>decay/scratches-4</key>
            <dict>
                <key>frame</key>
                <string>{{4,542},{56,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{56,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/scratches-5</key>
            <dict>
                <key>frame</key>
                <string>{{337,557},{52,53}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{52,53}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>decay/scratches-6</key>
            <dict>
                <key>frame</key>
                <string>{{315,615},{46,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{46,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/scratches-7</key>
            <dict>
                <key>frame</key>
                <string>{{75,142},{40,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{40,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>decay/scratches-wide-1</key>
            <dict>
                <key>frame</key>
                <string>{{236,126},{106,46}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{106,46}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>earth-all</key>
            <dict>
                <key>frame</key>
                <string>{{75,352},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-dark-all</key>
            <dict>
                <key>frame</key>
                <string>{{146,309},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-dark-top</key>
            <dict>
                <key>frame</key>
                <string>{{372,281},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-dark-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{75,281},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-dark-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{4,284},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-earth-all</key>
            <dict>
                <key>frame</key>
                <string>{{230,248},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-earth-top</key>
            <dict>
                <key>frame</key>
                <string>{{373,262},{66,14}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,14}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-earth-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{112,210},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-earth-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{302,209},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-light-all</key>
            <dict>
                <key>frame</key>
                <string>{{231,177},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-light-top</key>
            <dict>
                <key>frame</key>
                <string>{{301,280},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-light-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{347,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>earth-light-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{418,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-a-1</key>
            <dict>
                <key>frame</key>
                <string>{{75,201},{32,36}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{32,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-a-2</key>
            <dict>
                <key>frame</key>
                <string>{{464,674},{44,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-a-3</key>
            <dict>
                <key>frame</key>
                <string>{{65,547},{54,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-a-4</key>
            <dict>
                <key>frame</key>
                <string>{{4,213},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-a-5</key>
            <dict>
                <key>frame</key>
                <string>{{4,142},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-b-1</key>
            <dict>
                <key>frame</key>
                <string>{{63,604},{48,44}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{48,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-b-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,597},{54,50}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-b-3</key>
            <dict>
                <key>frame</key>
                <string>{{71,490},{56,52}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-b-4</key>
            <dict>
                <key>frame</key>
                <string>{{121,139},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-b-5</key>
            <dict>
                <key>frame</key>
                <string>{{411,4},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-1</key>
            <dict>
                <key>frame</key>
                <string>{{286,360},{62,62}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,475},{62,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-3</key>
            <dict>
                <key>frame</key>
                <string>{{394,526},{52,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-4</key>
            <dict>
                <key>frame</key>
                <string>{{278,496},{54,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{54,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-left</key>
            <dict>
                <key>frame</key>
                <string>{{439,349},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-bottom-left-open</key>
            <dict>
                <key>frame</key>
                <string>{{217,319},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-c-1</key>
            <dict>
                <key>frame</key>
                <string>{{482,4},{22,20}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{22,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-c-2</key>
            <dict>
                <key>frame</key>
                <string>{{116,624},{42,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{42,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-c-3</key>
            <dict>
                <key>frame</key>
                <string>{{449,633},{50,36}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{50,36}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-d-1</key>
            <dict>
                <key>frame</key>
                <string>{{124,575},{48,44}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-d-2</key>
            <dict>
                <key>frame</key>
                <string>{{183,213},{42,44}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-d-3</key>
            <dict>
                <key>frame</key>
                <string>{{394,585},{50,50}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-e-1</key>
            <dict>
                <key>frame</key>
                <string>{{192,139},{34,38}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{34,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-e-2</key>
            <dict>
                <key>frame</key>
                <string>{{415,674},{44,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{44,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-e-3</key>
            <dict>
                <key>frame</key>
                <string>{{451,526},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-f-1</key>
            <dict>
                <key>frame</key>
                <string>{{192,182},{30,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{30,26}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-f-2</key>
            <dict>
                <key>frame</key>
                <string>{{244,620},{46,44}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-f-3</key>
            <dict>
                <key>frame</key>
                <string>{{337,498},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-left-top</key>
            <dict>
                <key>frame</key>
                <string>{{146,380},{62,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-left-top-open</key>
            <dict>
                <key>frame</key>
                <string>{{370,292},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-left-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>mask_borders/decay-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{301,291},{64,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-right-bottom-left</key>
            <dict>
                <key>frame</key>
                <string>{{141,4},{132,18}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,18}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>mask_borders/decay-right-bottom-open</key>
            <dict>
                <key>frame</key>
                <string>{{444,209},{64,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-top-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{353,361},{60,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,132}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>mask_borders/decay-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{75,423},{62,62}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>mask_borders/decay-top-right-open</key>
            <dict>
                <key>frame</key>
                <string>{{444,280},{64,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accents.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514a7bc735d6a22d5c91acd59acec9ab$</string>
            <key>textureFileName</key>
            <string>accents.png</string>
        </dict>
    </dict>
</plist>
