<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back/adobe</key>
            <dict>
                <key>frame</key>
                <string>{{684,278},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/bloodstone</key>
            <dict>
                <key>frame</key>
                <string>{{4,273},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>back/brass</key>
            <dict>
                <key>frame</key>
                <string>{{821,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/brick</key>
            <dict>
                <key>frame</key>
                <string>{{547,278},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/brick-blue</key>
            <dict>
                <key>frame</key>
                <string>{{684,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/brick-mixed</key>
            <dict>
                <key>frame</key>
                <string>{{821,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/brick-tan</key>
            <dict>
                <key>frame</key>
                <string>{{684,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/chromatic</key>
            <dict>
                <key>frame</key>
                <string>{{547,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/copper</key>
            <dict>
                <key>frame</key>
                <string>{{547,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/cork</key>
            <dict>
                <key>frame</key>
                <string>{{415,773},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/glass</key>
            <dict>
                <key>frame</key>
                <string>{{415,499},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/glass-divided</key>
            <dict>
                <key>frame</key>
                <string>{{415,636},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/iron</key>
            <dict>
                <key>frame</key>
                <string>{{410,278},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/lichen-blue</key>
            <dict>
                <key>frame</key>
                <string>{{410,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/lichen-green</key>
            <dict>
                <key>frame</key>
                <string>{{821,278},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/limestone</key>
            <dict>
                <key>frame</key>
                <string>{{410,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/marble</key>
            <dict>
                <key>frame</key>
                <string>{{278,815},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/paper</key>
            <dict>
                <key>frame</key>
                <string>{{278,678},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/sandstone</key>
            <dict>
                <key>frame</key>
                <string>{{278,541},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/scaffold</key>
            <dict>
                <key>frame</key>
                <string>{{273,278},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/scaffold-decayed</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>back/stone</key>
            <dict>
                <key>frame</key>
                <string>{{273,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wallpaper-1</key>
            <dict>
                <key>frame</key>
                <string>{{273,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wallpaper-2</key>
            <dict>
                <key>frame</key>
                <string>{{141,816},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wallpaper-3</key>
            <dict>
                <key>frame</key>
                <string>{{141,679},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wallpaper-4</key>
            <dict>
                <key>frame</key>
                <string>{{141,542},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wallpaper-5</key>
            <dict>
                <key>frame</key>
                <string>{{4,816},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wood</key>
            <dict>
                <key>frame</key>
                <string>{{4,542},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>back/wood-panel</key>
            <dict>
                <key>frame</key>
                <string>{{4,953},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>back/wood-panel-decorative</key>
            <dict>
                <key>frame</key>
                <string>{{4,679},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>borders/adobe-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{552,704},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/adobe-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{535,486},{66,4}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,4}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/adobe-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{922,562},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/adobe-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{552,633},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/bloodstone-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{851,562},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/bloodstone-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{273,524},{66,12}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/bloodstone-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{709,557},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/bloodstone-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{780,557},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/brick-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{638,557},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/brick-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{393,486},{66,8}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,8}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/brick-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{890,491},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/brick-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{567,557},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/chromatic-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{819,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/chromatic-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{464,486},{66,4}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,4}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/chromatic-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{677,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/chromatic-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{748,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/cork-all</key>
            <dict>
                <key>frame</key>
                <string>{{606,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/cork-nub</key>
            <dict>
                <key>frame</key>
                <string>{{378,486},{10,10}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/cork-top</key>
            <dict>
                <key>frame</key>
                <string>{{273,505},{66,14}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,14}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/cork-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{841,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/cork-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{912,420},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/crosshatch-all</key>
            <dict>
                <key>frame</key>
                <string>{{770,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/crosshatch-top</key>
            <dict>
                <key>frame</key>
                <string>{{344,518},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/crosshatch-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{628,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/crosshatch-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{699,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/marble-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{954,349},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/marble-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{344,529},{66,4}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,4}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/marble-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{557,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/marble-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{954,278},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/medium-all</key>
            <dict>
                <key>frame</key>
                <string>{{496,910},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/medium-top</key>
            <dict>
                <key>frame</key>
                <string>{{415,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/medium-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{486,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/medium-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{425,910},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/stone-back-all</key>
            <dict>
                <key>frame</key>
                <string>{{496,910},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/stone-back-top</key>
            <dict>
                <key>frame</key>
                <string>{{415,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/stone-back-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{486,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/stone-back-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{425,910},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wallpaper-all</key>
            <dict>
                <key>frame</key>
                <string>{{354,952},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wallpaper-nub</key>
            <dict>
                <key>frame</key>
                <string>{{344,486},{14,12}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wallpaper-top</key>
            <dict>
                <key>frame</key>
                <string>{{273,486},{66,14}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,14}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wallpaper-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{344,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wallpaper-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{283,952},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wood-thin-all</key>
            <dict>
                <key>frame</key>
                <string>{{273,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wood-thin-nub</key>
            <dict>
                <key>frame</key>
                <string>{{363,486},{10,10}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wood-thin-top</key>
            <dict>
                <key>frame</key>
                <string>{{344,503},{66,10}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,10}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wood-thin-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{141,953},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/wood-thin-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{212,953},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b662121e0267850bffb065b7b0ac935f$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
