<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base/air</key>
            <dict>
                <key>frame</key>
                <string>{{669,55},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/border-external-1</key>
            <dict>
                <key>frame</key>
                <string>{{860,637},{66,8}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,8}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/limestone</key>
            <dict>
                <key>frame</key>
                <string>{{4,405},{660,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,396}}</string>
                <key>sourceSize</key>
                <string>{660,396}</string>
            </dict>
            <key>base/maw-1</key>
            <dict>
                <key>frame</key>
                <string>{{669,192},{108,116}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{108,116}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/maw-2</key>
            <dict>
                <key>frame</key>
                <string>{{862,323},{94,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{94,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/maw-3</key>
            <dict>
                <key>frame</key>
                <string>{{862,224},{104,94}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/maw-4</key>
            <dict>
                <key>frame</key>
                <string>{{865,141},{116,78}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{116,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/maw-plug</key>
            <dict>
                <key>frame</key>
                <string>{{805,220},{52,104}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{52,104}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/maw-plug-large</key>
            <dict>
                <key>frame</key>
                <string>{{669,313},{84,114}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{84,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/pipe</key>
            <dict>
                <key>frame</key>
                <string>{{868,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>base/sandstone</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{660,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,396}}</string>
                <key>sourceSize</key>
                <string>{660,396}</string>
            </dict>
            <key>base/steam-moving-1</key>
            <dict>
                <key>frame</key>
                <string>{{933,426},{20,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{20,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-2</key>
            <dict>
                <key>frame</key>
                <string>{{782,192},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{18,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-all-1</key>
            <dict>
                <key>frame</key>
                <string>{{933,543},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-all-2</key>
            <dict>
                <key>frame</key>
                <string>{{669,645},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-top-right-1</key>
            <dict>
                <key>frame</key>
                <string>{{758,429},{42,42}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-top-right-2</key>
            <dict>
                <key>frame</key>
                <string>{{758,382},{42,42}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-top-right-bottom-1</key>
            <dict>
                <key>frame</key>
                <string>{{805,777},{44,66}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-moving-top-right-bottom-2</key>
            <dict>
                <key>frame</key>
                <string>{{805,706},{44,66}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-vent</key>
            <dict>
                <key>frame</key>
                <string>{{740,476},{60,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,132}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>base/steam-vent-all</key>
            <dict>
                <key>frame</key>
                <string>{{862,497},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-vent-cap</key>
            <dict>
                <key>frame</key>
                <string>{{758,313},{42,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-vent-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{854,756},{62,54}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>base/steam-vent-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{806,100},{54,66}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>block-outline</key>
            <dict>
                <key>frame</key>
                <string>{{669,574},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/earth-all</key>
            <dict>
                <key>frame</key>
                <string>{{669,503},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/earth-nub</key>
            <dict>
                <key>frame</key>
                <string>{{1005,4},{14,12}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/earth-top</key>
            <dict>
                <key>frame</key>
                <string>{{931,614},{66,14}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,14}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/earth-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{669,432},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/earth-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{862,426},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-13</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-14</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-15</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-16</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-25</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-26</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-27</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-28</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-29</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-30</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-31</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-32</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-33</key>
            <dict>
                <key>frame</key>
                <string>{{782,263},{18,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{18,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-34</key>
            <dict>
                <key>frame</key>
                <string>{{986,174},{26,30}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{26,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-35</key>
            <dict>
                <key>frame</key>
                <string>{{986,209},{22,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{22,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-36</key>
            <dict>
                <key>frame</key>
                <string>{{986,141},{32,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{32,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-37</key>
            <dict>
                <key>frame</key>
                <string>{{933,524},{20,12}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{20,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-38</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-39</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-40</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-54</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-55</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-56</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-57</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-58</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-59</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-60</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-61</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-1-62</key>
            <dict>
                <key>frame</key>
                <string>{{1005,21},{1,1}}</string>
                <key>offset</key>
                <string>{-32.5,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-ancient-8</key>
            <dict>
                <key>frame</key>
                <string>{{805,614},{50,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{50,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-1</key>
            <dict>
                <key>frame</key>
                <string>{{854,721},{64,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{64,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-2</key>
            <dict>
                <key>frame</key>
                <string>{{806,171},{54,44}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-3</key>
            <dict>
                <key>frame</key>
                <string>{{961,425},{58,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{58,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-4</key>
            <dict>
                <key>frame</key>
                <string>{{933,497},{20,22}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-5</key>
            <dict>
                <key>frame</key>
                <string>{{805,392},{52,58}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-6</key>
            <dict>
                <key>frame</key>
                <string>{{805,508},{50,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{50,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-7</key>
            <dict>
                <key>frame</key>
                <string>{{738,800},{60,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-danger-8</key>
            <dict>
                <key>frame</key>
                <string>{{738,741},{62,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{62,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-1</key>
            <dict>
                <key>frame</key>
                <string>{{740,613},{60,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-10</key>
            <dict>
                <key>frame</key>
                <string>{{961,368},{58,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-11</key>
            <dict>
                <key>frame</key>
                <string>{{921,774},{60,54}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{60,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-12</key>
            <dict>
                <key>frame</key>
                <string>{{971,258},{48,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{48,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-13</key>
            <dict>
                <key>frame</key>
                <string>{{929,650},{64,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-2</key>
            <dict>
                <key>frame</key>
                <string>{{669,4},{194,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{194,46}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>caves/drawing-historical-3</key>
            <dict>
                <key>frame</key>
                <string>{{669,783},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-4</key>
            <dict>
                <key>frame</key>
                <string>{{669,716},{64,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-5</key>
            <dict>
                <key>frame</key>
                <string>{{931,633},{66,12}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-6</key>
            <dict>
                <key>frame</key>
                <string>{{958,478},{62,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-7</key>
            <dict>
                <key>frame</key>
                <string>{{805,329},{52,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{52,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-8</key>
            <dict>
                <key>frame</key>
                <string>{{860,650},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-historical-9</key>
            <dict>
                <key>frame</key>
                <string>{{919,833},{58,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{58,24}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-1</key>
            <dict>
                <key>frame</key>
                <string>{{803,848},{44,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-10</key>
            <dict>
                <key>frame</key>
                <string>{{805,567},{50,42}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{50,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-11</key>
            <dict>
                <key>frame</key>
                <string>{{806,55},{56,40}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-2</key>
            <dict>
                <key>frame</key>
                <string>{{805,455},{52,48}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-3</key>
            <dict>
                <key>frame</key>
                <string>{{860,568},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-4</key>
            <dict>
                <key>frame</key>
                <string>{{929,717},{64,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-5</key>
            <dict>
                <key>frame</key>
                <string>{{740,680},{60,56}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-6</key>
            <dict>
                <key>frame</key>
                <string>{{805,659},{46,42}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{46,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-7</key>
            <dict>
                <key>frame</key>
                <string>{{971,315},{48,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>caves/drawing-modern-9</key>
            <dict>
                <key>frame</key>
                <string>{{854,815},{60,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5e8866e7eca607e9b908ae72e8b252$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
