<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hell/dish</key>
            <dict>
                <key>frame</key>
                <string>{{911,4},{90,70}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hell/dish-soul-1</key>
            <dict>
                <key>frame</key>
                <string>{{609,321},{78,56}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hell/dish-soul-2</key>
            <dict>
                <key>frame</key>
                <string>{{696,289},{82,62}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hell/dish-soul-3</key>
            <dict>
                <key>frame</key>
                <string>{{899,79},{90,52}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{90,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hell/dish-spinner</key>
            <dict>
                <key>frame</key>
                <string>{{658,382},{46,58}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hell/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{600,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,250}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>hell/earth-base-external</key>
            <dict>
                <key>frame</key>
                <string>{{147,500},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,259},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>hell/earth-front-external</key>
            <dict>
                <key>frame</key>
                <string>{{147,489},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/expiator-exhaust</key>
            <dict>
                <key>frame</key>
                <string>{{994,79},{20,150}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{20,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-face</key>
            <dict>
                <key>frame</key>
                <string>{{760,57},{134,140}}</string>
                <key>offset</key>
                <string>{-56,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{134,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-frame</key>
            <dict>
                <key>frame</key>
                <string>{{899,136},{86,110}}</string>
                <key>offset</key>
                <string>{81,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,40},{86,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-gear</key>
            <dict>
                <key>frame</key>
                <string>{{736,202},{84,82}}</string>
                <key>offset</key>
                <string>{-33,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{84,82}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-pipe</key>
            <dict>
                <key>frame</key>
                <string>{{609,87},{122,140}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{122,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-tank</key>
            <dict>
                <key>frame</key>
                <string>{{609,232},{82,84}}</string>
                <key>offset</key>
                <string>{82,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,10},{82,84}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-tube</key>
            <dict>
                <key>frame</key>
                <string>{{760,4},{146,48}}</string>
                <key>offset</key>
                <string>{-15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{146,48}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/expiator-tubes</key>
            <dict>
                <key>frame</key>
                <string>{{609,4},{146,78}}</string>
                <key>offset</key>
                <string>{29,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{146,78}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hell/geyser-large</key>
            <dict>
                <key>frame</key>
                <string>{{92,464},{98,20}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{98,20}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>hell/geyser-small</key>
            <dict>
                <key>frame</key>
                <string>{{92,489},{50,16}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{50,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/gravestone-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/gravestone-2</key>
            <dict>
                <key>frame</key>
                <string>{{764,356},{44,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/gravestone-3</key>
            <dict>
                <key>frame</key>
                <string>{{713,411},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/gravestone-4</key>
            <dict>
                <key>frame</key>
                <string>{{709,356},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/stalagmite-1</key>
            <dict>
                <key>frame</key>
                <string>{{53,464},{34,42}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{34,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/stalagmite-2</key>
            <dict>
                <key>frame</key>
                <string>{{783,305},{50,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/stalagmite-3</key>
            <dict>
                <key>frame</key>
                <string>{{658,445},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hell/stalagmite-4</key>
            <dict>
                <key>frame</key>
                <string>{{825,202},{50,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>hell/stalagmite-5</key>
            <dict>
                <key>frame</key>
                <string>{{609,382},{44,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-hell+ld.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f434cf2209e74cff160a161e76129e31$</string>
            <key>textureFileName</key>
            <string>biome-hell+ld.png</string>
        </dict>
    </dict>
</plist>
