<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arctic/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{792,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,330}}</string>
                <key>sourceSize</key>
                <string>{792,330}</string>
            </dict>
            <key>arctic/earth-base-external</key>
            <dict>
                <key>frame</key>
                <string>{{872,545},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,339},{792,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,264}}</string>
                <key>sourceSize</key>
                <string>{792,264}</string>
            </dict>
            <key>arctic/earth-front-external</key>
            <dict>
                <key>frame</key>
                <string>{{943,543},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/ice</key>
            <dict>
                <key>frame</key>
                <string>{{4,877},{528,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,264}}</string>
                <key>sourceSize</key>
                <string>{528,264}</string>
            </dict>
            <key>arctic/ice-brick</key>
            <dict>
                <key>frame</key>
                <string>{{801,141},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>arctic/ice-brick-back</key>
            <dict>
                <key>frame</key>
                <string>{{801,278},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>arctic/icicle-1</key>
            <dict>
                <key>frame</key>
                <string>{{868,611},{56,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/icicle-2</key>
            <dict>
                <key>frame</key>
                <string>{{868,680},{54,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/icicle-3</key>
            <dict>
                <key>frame</key>
                <string>{{940,563},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/icicle-4</key>
            <dict>
                <key>frame</key>
                <string>{{801,557},{62,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,130}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>arctic/icicle-5</key>
            <dict>
                <key>frame</key>
                <string>{{929,634},{54,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,130}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>arctic/snow</key>
            <dict>
                <key>frame</key>
                <string>{{4,608},{528,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,264}}</string>
                <key>sourceSize</key>
                <string>{528,264}</string>
            </dict>
            <key>arctic/snowball</key>
            <dict>
                <key>frame</key>
                <string>{{801,486},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arctic/snowball-large</key>
            <dict>
                <key>frame</key>
                <string>{{801,4},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>arctic/snowball-medium</key>
            <dict>
                <key>frame</key>
                <string>{{801,415},{112,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{112,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>arctic/snowman-face-1</key>
            <dict>
                <key>frame</key>
                <string>{{938,4},{77,48}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{77,48}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>arctic/snowman-face-2</key>
            <dict>
                <key>frame</key>
                <string>{{938,57},{77,44}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{77,44}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>arctic/snowman-face-3</key>
            <dict>
                <key>frame</key>
                <string>{{872,556},{63,50}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{63,50}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>borders/ice-all</key>
            <dict>
                <key>frame</key>
                <string>{{918,461},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-brick-all</key>
            <dict>
                <key>frame</key>
                <string>{{938,390},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-brick-top</key>
            <dict>
                <key>frame</key>
                <string>{{943,532},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-brick-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{938,248},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-brick-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{938,319},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-external</key>
            <dict>
                <key>frame</key>
                <string>{{872,532},{66,8}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,8}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-nub</key>
            <dict>
                <key>frame</key>
                <string>{{1009,106},{4,6}}</string>
                <key>offset</key>
                <string>{31,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{938,106},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/ice-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{938,177},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>borders/snow-external</key>
            <dict>
                <key>frame</key>
                <string>{{943,554},{66,4}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,4}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-arctic.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82ecc245727c5faa19b8862614a6822d$</string>
            <key>textureFileName</key>
            <string>biome-arctic.png</string>
        </dict>
    </dict>
</plist>
