<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brain/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,309},{900,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,300}}</string>
                <key>sourceSize</key>
                <string>{900,300}</string>
            </dict>
            <key>brain/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{900,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,300}}</string>
                <key>sourceSize</key>
                <string>{900,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-brain+ld.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723a37736aacc2bdc949d19c34f7ca56$</string>
            <key>textureFileName</key>
            <string>biome-brain+ld.png</string>
        </dict>
    </dict>
</plist>
