<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hell/dish</key>
            <dict>
                <key>frame</key>
                <string>{{801,595},{118,92}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{118,92}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hell/dish-soul-1</key>
            <dict>
                <key>frame</key>
                <string>{{182,608},{102,74}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{102,74}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hell/dish-soul-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,608},{106,82}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{106,82}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hell/dish-soul-3</key>
            <dict>
                <key>frame</key>
                <string>{{180,812},{118,68}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{118,68}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hell/dish-spinner</key>
            <dict>
                <key>frame</key>
                <string>{{115,608},{62,78}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{62,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hell/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{792,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,330}}</string>
                <key>sourceSize</key>
                <string>{792,330}</string>
            </dict>
            <key>hell/earth-base-external</key>
            <dict>
                <key>frame</key>
                <string>{{182,687},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,339},{792,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,264}}</string>
                <key>sourceSize</key>
                <string>{792,264}</string>
            </dict>
            <key>hell/earth-front-external</key>
            <dict>
                <key>frame</key>
                <string>{{4,1008},{66,6}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,6}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/expiator-exhaust</key>
            <dict>
                <key>frame</key>
                <string>{{982,182},{26,198}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,0},{26,198}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-face</key>
            <dict>
                <key>frame</key>
                <string>{{801,182},{176,186}}</string>
                <key>offset</key>
                <string>{-74,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{176,186}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-frame</key>
            <dict>
                <key>frame</key>
                <string>{{4,699},{114,144}}</string>
                <key>offset</key>
                <string>{107,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,54},{114,144}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-gear</key>
            <dict>
                <key>frame</key>
                <string>{{123,699},{110,108}}</string>
                <key>offset</key>
                <string>{-43,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,27},{110,108}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-pipe</key>
            <dict>
                <key>frame</key>
                <string>{{801,373},{160,186}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,12},{160,186}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-tank</key>
            <dict>
                <key>frame</key>
                <string>{{67,848},{108,110}}</string>
                <key>offset</key>
                <string>{108,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,14},{108,110}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-tube</key>
            <dict>
                <key>frame</key>
                <string>{{801,113},{192,64}}</string>
                <key>offset</key>
                <string>{-19,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,2},{192,64}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/expiator-tubes</key>
            <dict>
                <key>frame</key>
                <string>{{801,4},{192,104}}</string>
                <key>offset</key>
                <string>{39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{192,104}}</string>
                <key>sourceSize</key>
                <string>{330,198}</string>
            </dict>
            <key>hell/geyser-large</key>
            <dict>
                <key>frame</key>
                <string>{{801,564},{130,26}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{130,26}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>hell/geyser-small</key>
            <dict>
                <key>frame</key>
                <string>{{4,983},{66,20}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/gravestone-1</key>
            <dict>
                <key>frame</key>
                <string>{{75,963},{58,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{58,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/gravestone-2</key>
            <dict>
                <key>frame</key>
                <string>{{180,956},{60,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/gravestone-3</key>
            <dict>
                <key>frame</key>
                <string>{{180,885},{64,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/gravestone-4</key>
            <dict>
                <key>frame</key>
                <string>{{289,608},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/stalagmite-1</key>
            <dict>
                <key>frame</key>
                <string>{{966,385},{46,56}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{46,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/stalagmite-2</key>
            <dict>
                <key>frame</key>
                <string>{{245,956},{66,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/stalagmite-3</key>
            <dict>
                <key>frame</key>
                <string>{{238,699},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>hell/stalagmite-4</key>
            <dict>
                <key>frame</key>
                <string>{{936,564},{66,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,130}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
            <key>hell/stalagmite-5</key>
            <dict>
                <key>frame</key>
                <string>{{4,848},{58,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,130}}</string>
                <key>sourceSize</key>
                <string>{66,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-hell.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da45bbb2be31fcff1fe03d4a6efe4ad6$</string>
            <key>textureFileName</key>
            <string>biome-hell.png</string>
        </dict>
    </dict>
</plist>
