<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>temperate/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{600,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,250}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>temperate/earth-base-external</key>
            <dict>
                <key>frame</key>
                <string>{{62,475},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,259},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>temperate/earth-front-external</key>
            <dict>
                <key>frame</key>
                <string>{{62,464},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/stalagmite-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{30,44}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{30,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/stalagmite-2</key>
            <dict>
                <key>frame</key>
                <string>{{39,464},{18,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{18,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/stalagmite-3</key>
            <dict>
                <key>frame</key>
                <string>{{609,59},{24,48}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/stalagmite-4</key>
            <dict>
                <key>frame</key>
                <string>{{609,4},{46,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>temperate/stalagmite-5</key>
            <dict>
                <key>frame</key>
                <string>{{660,4},{34,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{34,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-temperate+ld.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b7bbcd5fe8d47d9527b1b180fe2aa0$</string>
            <key>textureFileName</key>
            <string>biome-temperate+ld.png</string>
        </dict>
    </dict>
</plist>
