<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arctic/earth-base</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{600,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,250}}</string>
                <key>sourceSize</key>
                <string>{600,250}</string>
            </dict>
            <key>arctic/earth-base-external</key>
            <dict>
                <key>frame</key>
                <string>{{59,519},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/earth-front</key>
            <dict>
                <key>frame</key>
                <string>{{4,259},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>arctic/earth-front-external</key>
            <dict>
                <key>frame</key>
                <string>{{4,530},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/ice</key>
            <dict>
                <key>frame</key>
                <string>{{609,209},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>arctic/ice-brick</key>
            <dict>
                <key>frame</key>
                <string>{{714,414},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arctic/ice-brick-back</key>
            <dict>
                <key>frame</key>
                <string>{{819,414},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arctic/icicle-1</key>
            <dict>
                <key>frame</key>
                <string>{{57,920},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/icicle-2</key>
            <dict>
                <key>frame</key>
                <string>{{59,750},{40,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/icicle-3</key>
            <dict>
                <key>frame</key>
                <string>{{4,920},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/icicle-4</key>
            <dict>
                <key>frame</key>
                <string>{{4,549},{48,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>arctic/icicle-5</key>
            <dict>
                <key>frame</key>
                <string>{{4,652},{40,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>arctic/snow</key>
            <dict>
                <key>frame</key>
                <string>{{609,4},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>arctic/snowball</key>
            <dict>
                <key>frame</key>
                <string>{{4,865},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>arctic/snowball-large</key>
            <dict>
                <key>frame</key>
                <string>{{609,414},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arctic/snowball-medium</key>
            <dict>
                <key>frame</key>
                <string>{{924,414},{86,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>arctic/snowman-face-1</key>
            <dict>
                <key>frame</key>
                <string>{{924,469},{59,36}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{59,36}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>arctic/snowman-face-2</key>
            <dict>
                <key>frame</key>
                <string>{{924,510},{57,34}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{57,34}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>arctic/snowman-face-3</key>
            <dict>
                <key>frame</key>
                <string>{{49,707},{47,38}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{47,38}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>borders/ice-all</key>
            <dict>
                <key>frame</key>
                <string>{{4,810},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-brick-all</key>
            <dict>
                <key>frame</key>
                <string>{{59,464},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-brick-top</key>
            <dict>
                <key>frame</key>
                <string>{{59,539},{50,4}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-brick-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{49,652},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-brick-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{57,549},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-external</key>
            <dict>
                <key>frame</key>
                <string>{{4,519},{50,6}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-nub</key>
            <dict>
                <key>frame</key>
                <string>{{1014,4},{4,4}}</string>
                <key>offset</key>
                <string>{23,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-top-right</key>
            <dict>
                <key>frame</key>
                <string>{{4,464},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/ice-top-right-bottom</key>
            <dict>
                <key>frame</key>
                <string>{{4,755},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borders/snow-external</key>
            <dict>
                <key>frame</key>
                <string>{{59,530},{50,4}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biome-arctic+ld.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360e813421d8357a740631fbb009961f$</string>
            <key>textureFileName</key>
            <string>biome-arctic+ld.png</string>
        </dict>
    </dict>
</plist>
