<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liquid/acid-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,552},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/acid-2</key>
            <dict>
                <key>frame</key>
                <string>{{405,415},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/acid-3</key>
            <dict>
                <key>frame</key>
                <string>{{4,415},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/magma-1</key>
            <dict>
                <key>frame</key>
                <string>{{405,278},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/magma-2</key>
            <dict>
                <key>frame</key>
                <string>{{4,278},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/magma-3</key>
            <dict>
                <key>frame</key>
                <string>{{405,141},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/water-1</key>
            <dict>
                <key>frame</key>
                <string>{{4,141},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/water-2</key>
            <dict>
                <key>frame</key>
                <string>{{405,4},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
            <key>liquid/water-3</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{396,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,132}}</string>
                <key>sourceSize</key>
                <string>{396,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liquid.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a64aa442e65c9ce545e88d125484e809$</string>
            <key>textureFileName</key>
            <string>liquid.png</string>
        </dict>
    </dict>
</plist>
