<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icons/documentation</key>
            <dict>
                <key>frame</key>
                <string>{{313,919},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>icons/forums</key>
            <dict>
                <key>frame</key>
                <string>{{557,591},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>icons/problem</key>
            <dict>
                <key>frame</key>
                <string>{{629,917},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>icons/tutorials</key>
            <dict>
                <key>frame</key>
                <string>{{4,936},{81,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,104}}</string>
                <key>sourceSize</key>
                <string>{81,104}</string>
            </dict>
            <key>play-free</key>
            <dict>
                <key>frame</key>
                <string>{{829,505},{70,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,141}}</string>
                <key>sourceSize</key>
                <string>{70,141}</string>
            </dict>
            <key>play-premium</key>
            <dict>
                <key>frame</key>
                <string>{{629,591},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>title/big-d</key>
            <dict>
                <key>frame</key>
                <string>{{829,122},{165,235}}</string>
                <key>offset</key>
                <string>{-297,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{165,235}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/cancel-button-back</key>
            <dict>
                <key>frame</key>
                <string>{{557,788},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,32},{124,106}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>title/cancel-button-border</key>
            <dict>
                <key>frame</key>
                <string>{{829,362},{152,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{152,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>title/d</key>
            <dict>
                <key>frame</key>
                <string>{{829,4},{113,191}}</string>
                <key>offset</key>
                <string>{292,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{618,36},{113,191}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/e1</key>
            <dict>
                <key>frame</key>
                <string>{{136,591},{113,133}}</string>
                <key>offset</key>
                <string>{-202,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,97},{113,133}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/e2</key>
            <dict>
                <key>frame</key>
                <string>{{274,591},{109,127}}</string>
                <key>offset</key>
                <string>{-123,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,103},{109,127}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/frame</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{820,582}}</string>
                <key>offset</key>
                <string>{406,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{812,310},{820,582}}</string>
                <key>sourceSize</key>
                <string>{1632,1020}</string>
            </dict>
            <key>title/l</key>
            <dict>
                <key>frame</key>
                <string>{{113,936},{69,195}}</string>
                <key>offset</key>
                <string>{236,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{584,34},{69,195}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/o</key>
            <dict>
                <key>frame</key>
                <string>{{499,919},{97,125}}</string>
                <key>offset</key>
                <string>{114,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,104},{97,125}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/ok-button-back</key>
            <dict>
                <key>frame</key>
                <string>{{406,919},{98,88}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{98,88}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>title/ok-button-border</key>
            <dict>
                <key>frame</key>
                <string>{{826,716},{128,134}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{128,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>title/p</key>
            <dict>
                <key>frame</key>
                <string>{{4,716},{105,215}}</string>
                <key>offset</key>
                <string>{-50,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,104},{105,215}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/pipe</key>
            <dict>
                <key>frame</key>
                <string>{{114,716},{438,198}}</string>
                <key>offset</key>
                <string>{71,-292}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{668,703},{438,198}}</string>
                <key>sourceSize</key>
                <string>{1632,1020}</string>
            </dict>
            <key>title/r</key>
            <dict>
                <key>frame</key>
                <string>{{4,591},{115,127}}</string>
                <key>offset</key>
                <string>{182,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{507,102},{115,127}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
            <key>title/w</key>
            <dict>
                <key>frame</key>
                <string>{{829,580},{135,131}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,92},{135,131}}</string>
                <key>sourceSize</key>
                <string>{765,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title+ld.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:674730b518c0c860e4fc3ad9a4894b96$</string>
            <key>textureFileName</key>
            <string>title+ld.png</string>
        </dict>
    </dict>
</plist>
